<ion-fab vertical="bottom" horizontal="center" slot="fixed" class="animated fadeInDown">
  <ion-fab-button (click)="togglePopupMenu()">
    <ion-ripple-effect></ion-ripple-effect>
    <ion-icon name="apps"></ion-icon>
  </ion-fab-button>
</ion-fab>

<div class="popup-menu">
  <div class="popup-menu-overlay" [ngClass]="{'in': openMenu}" (click)="togglePopupMenu()"></div>
  <div class="popup-menu-panel" [ngClass]="{'in': openMenu}"> 
    <div class="popup-menu-item" (click)="receipt()">
      <ion-icon name="Paper" slot="middle" size="large"></ion-icon>
      <span>Receipt</span>
    </div>
  
    <div class="popup-menu-item" (click)="scanQr()">
        <ion-icon name="qr-scanner" slot="middle" size="large"  color="danger"></ion-icon>
        <span>Scan QR</span>
      </div>

      <div class="popup-menu-item" (click)="home()" >
            <ion-icon name="person" slot="middle" size="large"></ion-icon>
            <span>My QR</span>
          </div>

</div>
</div>