<ion-header>
        <ion-toolbar color="primary">
          <ion-buttons slot="start">
            <ion-back-button></ion-back-button>
          </ion-buttons>
          <ion-title>Reward</ion-title>
        </ion-toolbar>
      </ion-header>
      
      <ion-content class="animated fadeIn">
        <!-- <br>  <br>
        <div  text-center padding>
          <img src="assets/img/coming.jpg">
        </div>        
       -->
       <ion-card>
          <ion-row>
            <ion-col>
              <ion-select [(ngModel)]="choose_company" (ionChange)="filter_company()" placeholder="All Merchants">
                  <ion-select-option value=0>All Merchants</ion-select-option>
                  <ion-select-option *ngFor="let list of company_list" value={{list.compid}}>
                      {{company_name(list.compid)}}
                  </ion-select-option>
              </ion-select>
            </ion-col>
          </ion-row>           
   
        <ion-row >
                <ion-col size="6" class="br bb datetime-btn" text-center>
                  <ion-item no-padding text-center>
                    <ion-label position="stacked" class="fw700 text-primary">
                      <ion-icon name="calendar" slot="start" class="text-dark"></ion-icon>
                      <ion-text color="dark">Start Date</ion-text>
                    </ion-label>
                    <ion-datetime [(ngModel)]="startdate" (ngModelChange)="format_startdate()" no-padding no-margin class="text-primary" displayFormat="DD/MM/YYYY" pickerFormat="DD-MM-YYYY" min="2019" max="2020" ></ion-datetime>
                  </ion-item>
                </ion-col>
                <ion-col size="6" class="bb datetime-btn" text-center>
                  <ion-item no-padding text-center>
                    <ion-label position="stacked" class="fw700 text-dark">
                      <ion-icon name="calendar" slot="start" class="text-dark"></ion-icon>
                      <ion-text color="dark">End Date</ion-text>
                    </ion-label>
                    <ion-datetime [(ngModel)]="enddate" (ngModelChange)="format_enddate()" no-padding class="text-primary" displayFormat="DD/MM/YYYY" pickerFormat="DD-MM-YYYY" min="2019" max="2020"></ion-datetime>
                  </ion-item>
                </ion-col>
              </ion-row>

              <ion-row>
                    <ion-col>
                      <ion-button icon-left shape="round" size="full" color="primary" (click)="this.reset()">
                        <ion-ripple-effect></ion-ripple-effect>
                        Reset
                      </ion-button>
                    </ion-col>
                  </ion-row>
            </ion-card>
    <br>
    <div class="header" >
        <div class="left"><b>{{reward.length}}</b> Records</div>
        <div class="right">
           <ion-icon name="arrow-back" mode="ios" *ngIf="current_page!=1" (click)="previous()"></ion-icon>
            page <b>{{current_page}}</b> of <b>{{total_page | number: '1.0-0'}}</b>
           <ion-icon name="arrow-forward" mode="ios" *ngIf="current_page!=total_page" (click)="next()"></ion-icon>
        </div>
      </div>

        <ion-card *ngFor="let reward of display">
                <ion-list (click)="coming()" no-padding>
                    <!-- <ion-item color="dark" (click)="coming()" *ngFor="let hotel of hotels | slice:4:8; let i = index" tappable > -->
                          <ion-item color="dark" tappable lines="none">
      
                          <!-- routerLink="/hotel-detail/{{hotel.id}}" -->
                        <ion-thumbnail slot="start">
                          <img src="../../../assets/img/avatar.png">
                        </ion-thumbnail>
                        <ion-label class="card-detail">
                          <h2><strong>{{company_name(reward.compid)}}</strong></h2>
                          <h3>
                            <ion-badge slot="start" color="secondary" class="rooms">
                              <ion-icon name="calendar" color="tertiary"></ion-icon>
                              {{reward.date}}
                            </ion-badge>                
                          </h3>
                          <ion-badge color="warning">
                              <ion-icon name="ribbon"></ion-icon>{{reward.content}}
                            </ion-badge>           
                        </ion-label>
                      </ion-item>
                </ion-list>
            </ion-card> 
        
    <div class="header">
        <div class="left"></div>
        <div class="right">
           <ion-icon name="arrow-back" mode="ios" *ngIf="current_page!=1" (click)="previous()"></ion-icon>
            page <b>{{current_page}}</b> of <b>{{total_page | number: '1.0-0'}}</b>
           <ion-icon name="arrow-forward" mode="ios" *ngIf="current_page!=total_page" (click)="next()"></ion-icon>
        </div>
      </div>
      <br><br>
      
       
        
      </ion-content>
      
      
      <ion-footer class="animated fadeIn">

           

    
        <popmenu></popmenu>
     
     
     </ion-footer>