<ion-header>
    <ion-toolbar color="primary">
      <ion-buttons slot="start">
        <ion-back-button></ion-back-button>
      </ion-buttons>
      <ion-title>Wallet</ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content class="animated fadeIn">
    <br>  <br>
    <div  text-center padding>
      <img src="assets/img/coming.jpg">
    </div>
  
    
    
    

    
  
   
    
  </ion-content>
  
  
  <ion-footer class="animated fadeIn">

    <popmenu></popmenu>
 
 
 </ion-footer>