
<ion-content padding>

  <ion-icon class="close" name="close-circle" (click)="close()"></ion-icon>
  
  <div *ngIf="account=='facebook'">
    <b class="title"><ion-icon no-padding name="logo-facebook"></ion-icon>&nbsp;MY {{account | uppercase}} ACCOUNT</b><br><br>
    <div *ngIf="userdata!=''">
       <ion-img class="fbprofile" src={{userdata.picture}}></ion-img><br>
       {{userdata.username}}<br>
       {{userdata.email}}<br><br>
       <ion-button size="small" (click)="fbshare()"><b>Share this app</b></ion-button><br>
       <ion-button size="small" (click)="fblogout()"><b>Logout</b></ion-button>
    </div><br>
    <div *ngIf="userdata==''">
       <ion-button (click)="fblogin()">Set Facebook Account</ion-button>
    </div><br>
  </div>

  <div *ngIf="account=='twitter'">
    <b class="title"><ion-icon no-padding name="logo-twitter"></ion-icon>&nbsp;MY {{account | uppercase}} ACCOUNT</b><br><br>
    <div padding> More Features Will Coming Soon</div>
  </div>

  <div *ngIf="account=='googleplus'">
    <b class="title"><ion-icon no-padding name="logo-googleplus"></ion-icon>&nbsp;MY GOOGLE PLUS ACCOUNT</b><br><br>
    <div padding> More Features Will Coming Soon</div>
  </div>  

</ion-content>
