<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Support</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="animated fadeIn">

  <div class="bg-profile" text-center>
    <img src="assets/img/support-app.jpg">
  </div>

  <ion-card class="bg-white" no-margin>
    <ion-card-content>

      <ion-list>

            <ion-item>
                    <ion-icon name="home" slot="start" color="primary"></ion-icon>
                    <ion-label>
                      <p><ion-text color="primary">Business Address</ion-text></p>
                      <h2><ion-text color="dark">A-10-01,Oasis Business Suites,<br>
                            Jalan PJU 1A/7A,<br>
                            47301 Petaling Jaya,<br>
                            Selangor Darul Ehsan,Malaysia.</ion-text></h2>
                    </ion-label>
                  </ion-item>


        <ion-item href="tel:+603 – 7831 9082">
          <ion-icon name="call" slot="start" color="primary"></ion-icon>
          <ion-label>
            <p><ion-text color="primary">Business Office</ion-text></p>
            <h2><ion-text color="dark">+603 – 7831 9082</ion-text></h2>
          </ion-label>
        </ion-item>
        
        <ion-item href="mailto:support@eeceipt.com.my">
          <ion-icon name="mail" slot="start" color="primary"></ion-icon>
          <ion-label>
            <p><ion-text color="primary">Email</ion-text></p>
            <h2><ion-text color="dark">support@eeceipt.com.my</ion-text></h2>
          </ion-label>
        </ion-item>
      </ion-list>
        
    </ion-card-content>
  </ion-card>

</ion-content>
<ion-footer class="animated fadeIn">

    <popmenu></popmenu>
 
 
 </ion-footer>