<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Receipt</ion-title>
  </ion-toolbar>
</ion-header>
  
 <ion-content class="animated fadeIn">

  <ion-card>    
      <ion-row>
        <ion-col>
            <ion-select [(ngModel)]="choose_company" (ionChange)="filter_company()" placeholder="All Companies">
                <ion-select-option value="0">All Merchants</ion-select-option>
                <ion-select-option *ngFor="let list of company_list" value={{list.merchantId}}>
                    {{list.merchantPid}}
                </ion-select-option>
            </ion-select>
        </ion-col>
      </ion-row>           
    <ion-row>
      <ion-col size="6" class="br bb datetime-btn" text-center>
        <ion-item no-padding text-center>
            <ion-label position="stacked" class="fw700 text-primary">
               <ion-icon name="calendar" slot="start" class="text-dark"></ion-icon>
               <ion-text color="dark">Start Date</ion-text>
            </ion-label>
           <ion-datetime [(ngModel)]="startdate" (ngModelChange)="format_startdate()" no-padding no-margin class="text-primary" displayFormat="DD/MM/YYYY" pickerFormat="DD-MM-YYYY" min="2019" max="2020" ></ion-datetime>
        </ion-item>
      </ion-col>
      <ion-col size="6" class="bb datetime-btn" text-center>
        <ion-item no-padding text-center>
            <ion-label position="stacked" class="fw700 text-dark">
                <ion-icon name="calendar" slot="start" class="text-dark"></ion-icon>
                <ion-text color="dark">End Date</ion-text>
            </ion-label>
            <ion-datetime [(ngModel)]="enddate" (ngModelChange)="format_enddate()" no-padding class="text-primary" displayFormat="DD/MM/YYYY" pickerFormat="DD-MM-YYYY" min="2019" max="2020"></ion-datetime>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
         <ion-button icon-left shape="round" size="full" color="primary" (click)="reset()">
            Reset
         </ion-button>
      </ion-col>
    </ion-row>
  </ion-card>

  <br>
  <div class="header" *ngIf="receipt!=null">
    <div class="left"><b>{{display.length}} </b> Records</div>
    <div class="right">
       <ion-icon name="arrow-back" mode="ios" *ngIf="current_page!=1" (click)="previous()"></ion-icon>
        page <b>{{current_page}}</b> of <b>{{total_page | number: '1.0-0'}}</b>
       <ion-icon name="arrow-forward" mode="ios" *ngIf="current_page!=total_page" (click)="next()"></ion-icon>
    </div>
  </div>     
    
  <ion-card *ngFor="let receipt of per_page" id="{{ receipt['receiptId']}}" (click)="getDetail(receipt.receiptId, receipt.html, receipt.q1, receipt.q2, receipt.q3, receipt.comment, receipt._id)">
    <ion-list no-padding>
      <ion-item color="dark" lines="none" tappable >
        <ion-thumbnail slot="start"><img src="../../../assets/img/avatar.png"></ion-thumbnail>
        <ion-label class="receipt-detail">
            <h2 *ngIf="(receipt.merchantPid!='')&&(receipt.merchantPid!=null)"><strong>{{receipt.merchantPid}}</strong></h2>
            <h2 *ngIf="(receipt.merchantPid=='')||(receipt.merchantPid==null)">( No Name )</h2>
            <h3>
              <ion-badge slot="start" color="secondary" class="rooms">
                  <ion-icon name="calendar" color="tertiary"></ion-icon>
                  {{ receipt["date"].substr(0, 19) }}
              </ion-badge>                
            </h3>
            <ion-badge color="warning">
              <ion-icon name="logo-usd"></ion-icon> {{ receipt["currency"]  }} {{ receipt["total"]  }}
            </ion-badge>    
            <h3></h3>    
            <ion-badge *ngIf="(receipt['q1']!=null)">
              <ion-icon name="star" class="norate" *ngIf="receipt['q1']<1"></ion-icon>
              <ion-icon name="star" class="rated" *ngIf="receipt['q1']>=1"></ion-icon>
              <ion-icon name="star" class="norate" *ngIf="receipt['q1']<2"></ion-icon>
              <ion-icon name="star" class="rated" *ngIf="receipt['q1']>=2"></ion-icon>
              <ion-icon name="star" class="norate" *ngIf="receipt['q1']<3"></ion-icon>
              <ion-icon name="star" class="rated" *ngIf="receipt['q1']>=3"></ion-icon>
              <ion-icon name="star" class="norate" *ngIf="receipt['q1']<4"></ion-icon>
              <ion-icon name="star" class="rated" *ngIf="receipt['q1']>=4"></ion-icon>
              <ion-icon name="star" class="norate" *ngIf="receipt['q1']<5"></ion-icon>
              <ion-icon name="star" class="rated" *ngIf="receipt['q1']>=5"></ion-icon>
            </ion-badge>    
            <ion-badge *ngIf="(receipt['q1']==null)">
              <ion-icon name="star" class="norate" *ngFor="let disp of [1,2,3,4,5]"></ion-icon>
            </ion-badge> 
        </ion-label>
      </ion-item>
    </ion-list>
  </ion-card>

  <div class="header" *ngIf="receipt!=null">
    <div class="left"></div>
    <div class="right">
       <ion-icon name="arrow-back" mode="ios" *ngIf="current_page!=1" (click)="previous()"></ion-icon>
        page <b>{{current_page}}</b> of <b>{{total_page | number: '1.0-0'}}</b>
       <ion-icon name="arrow-forward" mode="ios" *ngIf="current_page!=total_page" (click)="next()"></ion-icon>
    </div>
  </div>   
  <br><br>    
</ion-content>

<ion-footer class="animated fadeIn">
    <popmenu></popmenu>
</ion-footer>