
//ion-card{ background-color:#00af87; }

ion-select{
    border: 2px solid #00af87;
    background-color:white;
 }
 
 .header{
     display: flex; width:90%; margin:auto;
     .left{ text-align:left; width:50%; }
     .right{ 
         text-align:right; width:50%; 
         ion-icon{ padding-right:5px; padding-left:5px; }
     }
 }

 .rated{ color:yellow; }
 .norate{ color:white; }

 .receipt-detail{
     ion-badge{
         width:100%; text-align:left;
     }
 }