<!-- <ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>{{ 'app.pages.extras.auth.title.header' | translate }}</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content padding class="animated fadeIn login auth-page">
  <div class="auth-content">

    <!-- Logo -->
    <div padding-horizontal margin-bottom text-center class="animated fadeInDown">
      <div class="logo2"></div>
      <h4 no-margin>
        <!-- <ion-text color="light">
          {{ 'app.name' | translate }}
          <ion-text color="secondary" class="fw700"> {{ 'app.version' | translate }}</ion-text>
        </ion-text> -->
      </h4>
    </div>

    <ion-segment [(ngModel)]="authSegment" color="tertiary">
      <ion-segment-button value="login">
        <ion-label>Login</ion-label>
      </ion-segment-button>
      <ion-segment-button value="register">
        <ion-label>Register</ion-label>
      </ion-segment-button>
    </ion-segment>
    
    <div [ngSwitch]="authSegment">
      <div *ngSwitchCase="'login'">
        <!-- Login form -->
        <form [formGroup]="onLoginForm" class="list-form"  (ngSubmit)="doLogin(onLoginForm.value)">
            <ion-item no-padding class="animated fadeInUp">
              <ion-label position="floating">
                <ion-icon name="mail" item-start></ion-icon>
                {{ 'app.label.email' | translate }}
              </ion-label>
              <ion-input color="secondary" type="email" formControlName="email"></ion-input>
            </ion-item>
            <p ion-text class="text08" *ngIf="onLoginForm.get('email').touched && onLoginForm.get('email').hasError('required')">
              <ion-text color="danger">
                {{ 'app.label.errors.field' | translate }}
              </ion-text>
            </p>
      
            <ion-item no-padding class="animated fadeInUp">
              <ion-label position="floating">
                <ion-icon name="lock" item-start></ion-icon>
                {{ 'app.label.password' | translate }}
              </ion-label>
              <ion-input color="secondary" type="password" formControlName="password"></ion-input>
            </ion-item>
            <p ion-text color="danger" class="text08" *ngIf="onLoginForm.get('password').touched && onLoginForm.get('password').hasError('required')">
              <ion-text color="danger">
                {{ 'app.label.errors.field' | translate }}
              </ion-text>
              </p>
              <ion-button icon-left size="medium" expand="full" shape="round" color="dark" [disabled]="!onLoginForm.valid"  type="submit"  tappable>
                <ion-icon name="log-in"></ion-icon>
                {{ 'app.button.signin' | translate }}
              </ion-button>
          </form>
      
          <p text-right tappable (click)="coming()" class="paz">
            <ion-text color="tertiary">
              <strong>{{ 'app.pages.login.label.forgot' | translate }}</strong>
            </ion-text>
          </p>
      
          <div>
            

      
            <p text-center>
              <ion-text color="light">
                Or {{ 'app.button.signin' | translate }} with:
              </ion-text>
            </p>
      
            <ion-grid class="btn-group">
              <ion-row>
                <ion-col size="4">
                  <ion-button (click)="coming()" shape="round" expand="full" fill="outline" color="tertiary">
                    <ion-icon slot="icon-only" name="logo-facebook"></ion-icon>
                  </ion-button>
                </ion-col>
                <ion-col size="4">
                  <ion-button (click)="coming()" shape="round" expand="full" fill="outline" color="tertiary">
                    <ion-icon slot="icon-only" name="logo-twitter"></ion-icon>
                  </ion-button>
                </ion-col>
                <ion-col size="4">
                  <ion-button (click)="coming()" shape="round" expand="full" fill="outline" color="tertiary">
                    <ion-icon slot="icon-only" name="logo-googleplus"></ion-icon>
                  </ion-button>
                </ion-col>
              </ion-row>
            </ion-grid>
      
          </div>
      
          <!-- Other links -->
          <!-- <div text-center margin-top>
            <span class="paz" tappable>
              <ion-text color="light">
                New here? <strong>{{ 'app.button.signup' | translate }}</strong>
              </ion-text>
            </span>
          </div> -->
      </div>
      <div *ngSwitchCase="'register'">
        <!-- Register form -->
        <form [formGroup]="onRegisterForm" class="list-form" (ngSubmit)="doRegister(onRegisterForm.value)">
            <ion-item no-padding class="animated fadeInUp">
              <ion-label position="floating">
                <ion-icon name="person" item-start></ion-icon>
                First Name
              </ion-label>
              <ion-input color="secondary" type="text" formControlName="firstName"></ion-input>
            </ion-item>
            <p ion-text class="text08" *ngIf="onRegisterForm.get('firstName').touched && onRegisterForm.get('firstName').hasError('required')">
              <ion-text color="danger">
                This field is required
              </ion-text>
            </p>

            <ion-item no-padding class="animated fadeInUp">
                <ion-label position="floating">
                  <ion-icon name="person" item-start></ion-icon>
                  Last Name
                </ion-label>
                <ion-input color="secondary" type="text" formControlName="lastName"></ion-input>
              </ion-item>
              <p ion-text class="text08" *ngIf="onRegisterForm.get('lastName').touched && onRegisterForm.get('lastName').hasError('required')">
                <ion-text color="danger">
                  This field is required
                </ion-text>
              </p>
      
            <ion-item no-padding class="animated fadeInUp">
              <ion-label position="floating">
                <ion-icon name="mail" item-start></ion-icon>
                Email
              </ion-label>
              <ion-input color="secondary" type="email" formControlName="email"></ion-input>
            </ion-item>
            <p ion-text class="text08" *ngIf="onRegisterForm.get('email').touched && onRegisterForm.get('email').hasError('required')">
              <ion-text color="danger">
                This field is required
              </ion-text>
            </p>

           
            <ion-item no-padding class="animated fadeInUp">
              <ion-label position="floating">
                <ion-icon name="lock" item-start></ion-icon>
                Password
              </ion-label>
              <ion-input color="secondary" type="password" formControlName="password"></ion-input>
            </ion-item>
            <p ion-text color="danger" class="text08" *ngIf="onRegisterForm.get('password').touched && onRegisterForm.get('password').hasError('required')">
              <ion-text color="danger">
                This field is required
              </ion-text>
            </p>

            <ion-item no-padding class="animated fadeInUp">
                <ion-label position="floating">
                  <ion-icon name="lock" item-start></ion-icon>
                  Confirm Password
                </ion-label>
                <ion-input color="secondary" type="password" formControlName="password_confirmation"></ion-input>
              </ion-item>
              <p ion-text color="danger" class="text08" *ngIf="onRegisterForm.get('password_confirmation').touched && onRegisterForm.get('password_confirmation').hasError('required')">
                <ion-text color="danger">
                  This field is required
                </ion-text>
              </p>
              <ion-button icon-left size="medium" expand="full" shape="round" color="dark" [disabled]="!onRegisterForm.valid" type="submit"
              tappable>
              <ion-icon name="log-in"></ion-icon>
              Sign Up
            </ion-button>
            
            <p style="font-size: 10px; text-align: center;">By signing up, indicates you agree with our <a style="color:white;" href="http://eeceipt.com.my/terms">Terms and Conditions</a> </p>

          </form>
      
          <div margin-top>
           
      
            <p text-center>
              <ion-text color="light">
                Or Sign Up with:
              </ion-text>
            </p>
      
            <ion-grid class="btn-group">
              <ion-row>
                <ion-col size="4">
                  <ion-button (click)="coming()" shape="round" expand="full" fill="outline" color="tertiary">
                    <ion-icon slot="icon-only" name="logo-facebook"></ion-icon>
                  </ion-button>
                </ion-col>
                <ion-col size="4">
                  <ion-button (click)="coming()" shape="round" expand="full" fill="outline" color="tertiary">
                    <ion-icon slot="icon-only" name="logo-twitter"></ion-icon>
                  </ion-button>
                </ion-col>
                <ion-col size="4">
                  <ion-button (click)="coming()" shape="round" expand="full" fill="outline" color="tertiary">
                    <ion-icon slot="icon-only" name="logo-googleplus"></ion-icon>
                  </ion-button>
                </ion-col>
              </ion-row>
            </ion-grid>
      
          </div>
      
          <!-- Other links -->
          <!-- <div text-center margin-top>
            <span tappable>
              <ion-text color="light">
                <strong>I have an account!</strong>
              </ion-text>
            </span>
          </div> -->
      </div>
    </div>

  </div>


</ion-content>
