:host {
    ion-content {
        --background: linear-gradient(-135deg, var(--ion-color-medium), var(--ion-color-light))
    }
}


ion-fab {
    bottom: 10px;

    ion-fab-button {
        --box-shadow: none;
    }
}

ion-tab-active {
    background:green;
}