<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>{{ 'app.pages.about.title.header' | translate }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="animated fadeIn">

  <div class="bg-profile" text-center padding>
    <img src="assets/img/eeceipt-ico.png">
  </div>

  <ion-card class="bg-white" no-margin>
    <ion-card-content>
      <h1 margin-bottom>
        <ion-text color="primary"><strong>Terms & Conditions of Use</strong></ion-text>
      </h1>
      
      <p margin-bottom>
        For more information, please click <a href="http://eeceipt.com.my/terms">www.eeceipt.com.my/terms </a>  
      </p>
      
    
      
    </ion-card-content>
  </ion-card>
  <br>
  <ion-card class="bg-white" no-margin>
    <ion-card-content>
      
      <h1 margin-bottom>
         <ion-text color="primary"><strong>Privacy</strong></ion-text>
      </h1>
      
      <p margin-bottom>
        For more information, please click <a href="http://eeceipt.com.my/privacy">www.eeceipt.com.my/privacy </a>  
      </p>

      
      
    </ion-card-content>
  </ion-card>
<br>
  <ion-card class="bg-white" no-margin>
    <ion-card-content>


      <h1 margin-bottom>
         <ion-text color="primary"><strong>FAQ</strong></ion-text>
      </h1>
      
      <p margin-bottom>
        For more information, please click <a href="http://eeceipt.com.my/faq">www.eeceipt.com.my/faq </a>  
        <br>
        <br>
        <br>
        <br>
      </p>
      
    </ion-card-content>
  </ion-card>

 
  
</ion-content>


<ion-footer class="animated fadeIn">

     <popmenu></popmenu>

    
 
  
  </ion-footer>