<ion-app>
  <ion-split-pane>
    <ion-menu>
      <ion-header>
        <ion-toolbar color="dark" class="user-profile">

          <ion-item class="top" margin-bottom margin-top>
            <ion-avatar slot="start" class="user-avatar" style="background-image:url('assets/img/avatar.png');" (click)="goToEditProgile()">
              <!--<img src="assets/img/avatar.png">-->
            </ion-avatar>
            <ion-label *ngIf="!!user" lines="none">
              <ion-text color="tertiary"><h1><strong>{{ user.fname }}</strong></h1></ion-text>
              <ion-text color="tertiary"><h3>{{ user.email }}</h3></ion-text>
            <!-- </div> -->

              <!--<ion-menu-toggle class="mto" auto-hide="false">
                <a class="text08" tappable (click)="goToEditProgile()">
                  <ion-text color="tertiary">
                    <ion-icon name="contact"></ion-icon>
                    <strong>{{ 'app.pages.menu.editprofile' | translate }}</strong>                
                  </ion-text>
                </a> <ion-text color="secondary"> | </ion-text> 
                <a class="text08" tappable (click)="logout()">
                  <ion-text color="tertiary">
                    <ion-icon name="log-out"></ion-icon>
                    <strong>{{ 'app.pages.menu.logout' | translate }}                            
                    </strong>
                  </ion-text>
                </a>-->
                <!--<div class="minuminu">
                  <div (click)="goToEditProgile()" class="btnminu">
                    <ion-icon name="contact"></ion-icon>
                  </div> &nbsp;
                  <div (click)="logout()" class="btnminu">
                    <ion-icon name="log-out"></ion-icon>
                  </div>
                </div>
              </ion-menu-toggle>-->
            </ion-label>
          </ion-item>
        </ion-toolbar>
        <div class="social">
           <div class="btn" (click)="openaccount('facebook')">
              <ion-icon class="type" name="logo-facebook"></ion-icon>
           </div>&nbsp;&nbsp;
           <div class="btn" (click)="openaccount('twitter')">
              <ion-icon class="type" name="logo-twitter"></ion-icon>
           </div>&nbsp;&nbsp;
           <div class="btn" (click)="openaccount('googleplus')">
              <ion-icon class="type" name="logo-googleplus"></ion-icon>
           </div>&nbsp;&nbsp;
        </div>
      </ion-header>

      <ion-content class="bg-profile" padding>            
        <ion-list>
          <ion-menu-toggle auto-hide="false" *ngFor="let p of appPages" color="primary">
            <ion-item [routerLink]="[p.url]" lines="none" class="mnu">
                <ion-icon slot="start" [name]="p.icon" color="secondary"></ion-icon>
                <ion-label>{{p.title}}</ion-label>
            </ion-item>
            <div class="ok"></div>
          </ion-menu-toggle>
        </ion-list>
      </ion-content>
        <div class="logoutbtn">
          <ion-button color="forth" (click)="logout()" fill="outline">LOGOUT</ion-button>
        </div>
    </ion-menu>
    <ion-router-outlet main></ion-router-outlet>
  </ion-split-pane> 
</ion-app>
