:host {
    ion-toolbar{ border:2px solid #4DC21D; }
    ion-content {
        //--background: linear-gradient(135deg, var(--ion-color-dark), var(--ion-color-primary));
        --background: #00af87;
        //--padding-start:30px; --padding-end:25px; --padding-top:10px;
        //text-align:center; justify-content:center; align-items:center;
        .mnu{ 
            //--background:#00af87; 
            --background:#00af87; 
            color:white;
            --background-activated:#4DC21D;
            //width:90%; float:right;
        }
        .ok{ 
            border:1px solid #4DC21D; 
            //width:90%; float:right;
        }
    }
    ion-list { 
        &.list-md {padding:0;} background-color:#00af87;
    }

}

/*.minuminu{ 
     display:flex; position:fixed; top:0px; right:0px; z-index:100;
     padding-right:5px;
    .btnminu{ 
        padding:3px;
        background-color:white;
        ion-icon{ zoom:1.5; color:#00af87; } 
        border-radius: 00;
    }
}*/

.logoutbtn{ 
    display:flex; position:fixed; bottom:15px; z-index:100; 
    //background-color:white; 
    text-align:center; width: 100%;
    justify-content:center; ion-button{width:50%; color:white;}
}

//.top{ border:1px solid #4DC21D; }

.social{
    display:flex; position:absolute; z-index:100; bottom:0px; right:10px;
    .btn{ background-color:#4DC21D; padding:2px; border-radius:5px 5px 0px 0px; }
    .type{ color:white; zoom:1.5; }
}