/*.sharebtn{
    width:45px; height:45px;
    border:2px solid #00af87;
    background:transparent;
    ion-icon{ width:80%; height:80%; color:#00af87; padding:5px; }
}

.mailbtn{
    width:45px; height:45px;    
    border:2px solid #00af87;
    background:transparent;
    ion-icon{ width:80%; height:80%; color:#00af87; padding:5px; }
}

.btn { display:flex; position:absolute; right:0px; top:0px; z-index:100; }

.shareflex{ display:flex; }*/

.starrate{
    width:100%;
    ion-icon{ zoom:4; }
    ion-badge{
        width:100%;
        background-color:#00af87;
    }
    .norate{ color:white; }
    .rated{ color:yellow; }
}

.fabs{
    position:absolute; top:70px; z-index:100; width:100%;
}

.rate{
    position:absolute; bottom:5px;
    z-index:100; width:100%;
}

