<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Scanned Eeceipt</ion-title>
  </ion-toolbar>
</ion-header>

 <!--<ion-content id="rec">
    <pinch-zoom *ngIf="receipt!=''"><div [innerHTML]="receipt.html | html"></div></pinch-zoom>
 </ion-content>-->
 <div *ngIf="receipt!=''" id="rec" [innerHTML]="receipt.html | html"></div>

  <div class="fabs" *ngIf="display_fab=='true'">   
    <ion-fab vertical="top" horizontal="start" slot="fixed"> 
      <ion-fab-button (click)="back()"> <ion-icon name="close"></ion-icon> </ion-fab-button>
    </ion-fab>   
    <ion-fab vertical="top" horizontal="end" slot="fixed"> 
      <ion-fab-button> <ion-icon name="share"></ion-icon> </ion-fab-button>
      <ion-fab-list side="start">
        <div class="shareflex">
          <ion-fab-button (click)="coming()"><ion-icon name="print"></ion-icon></ion-fab-button>&nbsp;&nbsp;&nbsp;
          <ion-fab-button (click)="email()"><ion-icon name="mail"></ion-icon></ion-fab-button>&nbsp;&nbsp;&nbsp;
        </div>
      </ion-fab-list>
    </ion-fab>  
  </div>

  <div class="rate" *ngIf="display_fab=='true'">
    <ion-badge class="starrate">
      <ion-icon name="star-outline" class="norate" *ngIf="q1<1"></ion-icon>
      <ion-icon name="star" class="rated" *ngIf="q1>=1"></ion-icon>
      <ion-icon name="star-outline" class="norate" *ngIf="q1<2"></ion-icon>
      <ion-icon name="star" class="rated" *ngIf="q1>=2"></ion-icon>
      <ion-icon name="star-outline" class="norate" *ngIf="q1<3"></ion-icon>
      <ion-icon name="star" class="rated" *ngIf="q1>=3"></ion-icon>
      <ion-icon name="star-outline" class="norate" *ngIf="q1<4"></ion-icon>
      <ion-icon name="star" class="rated" *ngIf="q1>=4"></ion-icon>
      <ion-icon name="star-outline" class="norate" *ngIf="q1<5"></ion-icon>
      <ion-icon name="star" class="rated" *ngIf="q1>=5"></ion-icon>
    </ion-badge>  
</div>



  <!--<div padding *ngIf="receipt!=''">
      <ion-badge class="starrate">
        <ion-icon name="star" class="norate" *ngIf="star<1"></ion-icon>
        <ion-icon name="star" class="rated" *ngIf="star>=1"></ion-icon>
        <ion-icon name="star" class="norate" *ngIf="star<2"></ion-icon>
        <ion-icon name="star" class="rated" *ngIf="star>=2"></ion-icon>
        <ion-icon name="star" class="norate" *ngIf="star<3"></ion-icon>
        <ion-icon name="star" class="rated" *ngIf="star>=3"></ion-icon>
        <ion-icon name="star" class="norate" *ngIf="star<4"></ion-icon>
        <ion-icon name="star" class="rated" *ngIf="star>=4"></ion-icon>
        <ion-icon name="star" class="norate" *ngIf="star<5"></ion-icon>
        <ion-icon name="star" class="rated" *ngIf="star>=5"></ion-icon>
      </ion-badge>  
    </div>-->
  
  <br><br>
  
