<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Analytics</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="!!user" >
  <!-- <ion-card class="bg-white">
    <ion-card-header>
      Pie Chart
    </ion-card-header>
    <ion-card-content>
      <ion-button (click)="updateData()">Update Pie Chart Data</ion-button>
      <canvas #pieCanvas></canvas>
    </ion-card-content>
  </ion-card> -->
  
  <ion-card class="bg-white">

    <ion-card-header>
        My Monthly expenses 
            </ion-card-header>
            <ion-card-content>
              <canvas #barCanvas></canvas>
            </ion-card-content>
            <br>
          </ion-card>

</ion-content>

<ion-footer class="animated fadeIn">

    <popmenu></popmenu>
 
 
 </ion-footer>