<ion-header>
  <ion-toolbar color="primary" class="animated fadeIn">
    <ion-buttons slot="start">
      <ion-menu-button color="secondary"></ion-menu-button>
    </ion-buttons>
    <ion-title>
      <ion-text color="light">
        Dashboard <ion-text color="secondary" class="fw700"></ion-text>
      </ion-text>
    </ion-title>
    <!--<ion-buttons slot="end"> 
      <ion-button icon-left size="small" shape="round" color="tertiary" (click)="editprofile()">
        <ion-icon name="contact" class="ctct-btn"></ion-icon>
      </ion-button>
    </ion-buttons>-->
  </ion-toolbar>
</ion-header>

<ion-content padding class="animated fadeIn fast">


  <div class="booking-card bg-dark">
    
      <div *ngIf="!!user">

              <ion-text style="color: white" text-center>
      <h3>Welcome {{ user.fname }}</h3>
    </ion-text>

              </div> 
              
    <ion-card class="searchcard animated fadeIn">
      <ion-card-content>        
        <ion-grid>
        <ion-row>
            <ion-col><div class="qrc"><qr-code [value]="value" [size]="230"></qr-code></div>              
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col><p style="text-align:center">Please show this QR code at the counter to redeem your receipt</p>
            </ion-col>  
        </ion-row>
         </ion-grid>
      </ion-card-content>
    </ion-card>

  </div>

</ion-content>

<ion-footer class="animated fadeIn">
  
   <popmenu></popmenu>


</ion-footer>