<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>{{ 'app.pages.editprofile.title.header' | translate }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="profile" *ngIf="!!user"  >
  <ion-card no-margin  >
    <ion-card-content class="bg-profile" >
      <img src="assets/img/avatar.png">
      <h1 class="fw500">{{user.fname}} {{user.lname}}</h1>
      <!-- <h2 color="light" margin-bottom>Customer</h2> -->
      <ion-button icon-left color="secondary" (click)="inDev()" > 
        <ion-icon name="photos"></ion-icon > 
        {{ 'app.label.edit' | translate }} / {{ 'app.label.insertavatar' | translate }}
      </ion-button>
    </ion-card-content>
  
    <ion-grid fixed no-padding>
      <ion-row>
        <ion-col size="12" padding>

          <ion-list margin-bottom>
            <ion-list-header color="light">
              <ion-label class="fw700">{{ 'app.label.userdata' | translate }}</ion-label>
            </ion-list-header>

            <ion-item>
              <ion-label color="dark" position="stacked">First Name:</ion-label>
              <ion-input inputmode="text" placeholder="Ex..: John" value="{{user.fname}}"></ion-input>
            </ion-item>

            <ion-item>
                    <ion-label color="dark" position="stacked">Last Name:</ion-label>
                    <ion-input inputmode="text" placeholder="Doe" value="{{user.lname}}"></ion-input>
                  </ion-item>
    
            <ion-item>
              <ion-label color="dark" position="stacked">e-Mail:</ion-label>
              <ion-input inputmode="email" placeholder="Ex.: joe@doe.com" value="{{user.email}}"></ion-input>
            </ion-item>

            <ion-item>
                    <ion-label color="dark" position="stacked">Contact Number:</ion-label>
                    <ion-input inputmode="number" placeholder="Ex: 0121234567" value="{{user.hp}}"></ion-input>
                  </ion-item>

            <ion-item>
                    <ion-label color="dark">Age</ion-label>
                    <ion-select>
                          <ion-select-option value="70 and above">70 and above</ion-select-option>
                          <ion-select-option value="60-70">60-70</ion-select-option>
                          <ion-select-option value="50-59">50-59</ion-select-option>
                          <ion-select-option value="40-49">40-49</ion-select-option>
                          <ion-select-option value="30-39">30-39</ion-select-option>
                          <ion-select-option value="20-29">20-29</ion-select-option>
                          <ion-select-option value="19 and below">19 and below</ion-select-option>
                        </ion-select>
                    </ion-item>

                    <ion-item>
                            <ion-label color="dark">Gender</ion-label>
                            <ion-select>
                                  <ion-select-option value="m">Male</ion-select-option>
                                  <ion-select-option value="f">Female</ion-select-option>
                                  <ion-select-option value="o">Other</ion-select-option>

                                </ion-select>
                            </ion-item>
    
            <ion-item>

                
              <ion-label color="dark" position="stacked">Address:</ion-label>
              <ion-input inputmode="text" placeholder="Ex.: Abey Road 5"></ion-input>
            </ion-item>
            <ion-item>

            <ion-label color="dark" position="stacked">Postcode:</ion-label>
            <ion-input inputmode="text" placeholder="Ex.: 47301"></ion-input>
          </ion-item>
          
          </ion-list>

          
  
        </ion-col>
      </ion-row>
    </ion-grid>
  
    <ion-button no-margin size="large" expand="full" color="dark" (click)="inDev()">Edit Profile</ion-button>
  </ion-card>
  
  <div no-padding>
    <ion-text color="dark" no-margin style="text-align:center; font-size: 15px;">
            <!-- <div *ngIf="!!user">
                    <p>
                      User id: {{ user.id }} <br>
                      User email: {{ user.email }} <br>
            
                    </p>
                  </div>
                  d -->
                  Read more about our <a href="http://eeceipt.com.my/privacy">privacy policy</a>  
    </ion-text>
  </div>
  <br>
  
</ion-content>
