<ion-content padding>
  <br>
  <div class="title"><h5>Please Rate Your Purchase Experience</h5></div>
  <br>

  <div class="rates">
      <ion-icon name="star-outline" class="norate" (click)="q1=1" *ngIf="q1<1"></ion-icon>
      <ion-icon name="star" class="rated" (click)="q1=1" *ngIf="q1>=1"></ion-icon>
      <ion-icon name="star-outline" class="norate" (click)="q1=2" *ngIf="q1<2"></ion-icon>
      <ion-icon name="star" class="rated" (click)="q1=2" *ngIf="q1>=2"></ion-icon>
      <ion-icon name="star-outline" class="norate" (click)="q1=3" *ngIf="q1<3"></ion-icon>
      <ion-icon name="star" class="rated" (click)="q1=3" *ngIf="q1>=3"></ion-icon>
      <ion-icon name="star-outline" class="norate" (click)="q1=4" *ngIf="q1<4"></ion-icon>
      <ion-icon name="star" class="rated" (click)="q1=4" *ngIf="q1>=4"></ion-icon>
      <ion-icon name="star-outline" class="norate" (click)="q1=5" *ngIf="q1<5"></ion-icon>
      <ion-icon name="star" class="rated" (click)="q1=5" *ngIf="q1>=5"></ion-icon>
  </div>   

  <br><br>
  <div class="fbk"><div class="left">Feedback</div><div class="right">Max 200</div></div>
  <ion-textarea [(ngModel)]="comment"></ion-textarea>
  <br><br>

  <div class="btn"><ion-button shape="round" (click)="submit()">SUBMIT</ion-button></div>

  <ion-icon class="tutup" name="close-circle" (click)="close()"></ion-icon>

</ion-content>