.title{ text-align:center; color:#00af87 }
.btn{ text-align:center; }

.rates{
    display:flex; text-align:center;
    zoom:4; width:100%;
}

.rated{ color:yellow; }
.norate{ color:black; }

ion-button{ width:100%; }

.tutup{ position:fixed; top:0px; right:0px; z-index:100; zoom:2; }

.fbk{ 
    color:#00af87; display:flex;
    .left{ width:50%; text-align:left; }
    .right{ width:50%; text-align:right; font-size:13px;}
}

ion-textarea{
    width:100%; height:70px; font-size:11px;
    border: 1px solid #00af87;
}