<ion-header>
    <ion-toolbar color="primary">
      <ion-buttons slot="start">
        <ion-back-button></ion-back-button>
      </ion-buttons>
      <ion-title>Confirm your email</ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content class="animated fadeIn">
  
    <div class="bg-profile" text-center>
      <img src="assets/img/plic.png">
    </div>
  
    <ion-card class="bg-white" no-margin>
      <ion-card-content>
  
        <ion-list>
          
          <ion-item >
            <ion-icon name="mail" slot="start" color="primary"></ion-icon>
            <ion-label>
                    <h2><ion-text color="dark">Hi, you've got email from Eeceipt.  </ion-text></h2>

              <p><ion-text color="primary">Your registration was successful. 
                  <br> Please <strong>check your mailbox</strong> for 
                  <br> confirmation email before you 
                  <br> can login. </ion-text></p>
            </ion-label>

          </ion-item>
        </ion-list>

      </ion-card-content>

    </ion-card>
  
  
  </ion-content>
