.starrate{
    width:100%;
    ion-icon{ zoom:4; }
    ion-badge{
        width:100%;
        background-color:#00af87;
    }
    .norate{ color:white; }
    .rated{ color:yellow; }
}

.fabs{
    position:absolute; top:70px; z-index:100; width:100%;
}

.rate{
    position:absolute; bottom:5px;
    z-index:100; width:100%;
}




